.categoryItem {
    padding: 0 24px;
    margin: 4px 0;
    height: 40px;
    display: flex;
    align-items: center;
}
.categoryList{
    list-style: none;
}
.categories {
    height: 100%;
    box-shadow: 0px 0 2px #ccc;
    position: fixed;
    z-index: 3;
    top: 70px;
    transition: all 0.4s;
}

.name {
    width: 200px;
    margin-left: 10px;
    font-size: 15px;
}

.drop {
    font-size: 10px;
}

/*.categoryItem:hover {*/
/*    !*color: #333;*!*/
/*    background-color: #cccccc;*/
/*    cursor: pointer;*/
/*}*/

.active {
    background-color: #cccccc;
    border-right: 2px solid #333;
}