.heading {
    font-size: 33px;
    font-weight: 700 !important;
}

.para {
    font-size: 15px;
    font-weight: 500;
    color: #72849a!important;
    margin-bottom: 20px;
}

.card:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #fff;
    /* color: rgb(76, 76, 252) !important; */
}

.card {
    border: 1px solid #fffff;
}