.main {
    width: 100%;
    display: flex;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 0 2px #ccc;
    top: 0;
    position: fixed;
    z-index: 4;
}

.logo {
    /*width: 250px;*/
    padding: 0 16px;
    transition: all 0.4s;
}

.img {
    display: inline-block;
    width: 100px;
    height: 70px;
    transition: all 1s;
}

.navigation {
    display: flex;
    /*width: calc(100% - 250px);*/
    justify-content: space-between;
}

.menu,
.navList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu,
.navItem {
    width: 52px;
    height: 100%;
    font-size: 20px;
}

.menu:hover,
.navItem:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.user img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.navList {
    padding: 0 16px;
}

.notificationPane {
    width: 312px;
}

.emptyNotification {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerProfile {
    display: flex;
    justify-content: space-around;
}