.title {
    font-size: 50px;
    font-weight: bold;
}

.text {
    font-size: 14px;
}
.text{
    color: #455560;
    overflow-wrap: break-word;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
    font-size: 14px;
}
.card {
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    background-position: center center;
}